header {
  background-color: rgba(255, 251, 240, 1);
}
.orange-word {
  color: orange;
}
.logo-size {
  width: 250px;
  height: 50px;
}
.jacket-photo {
  height: 500px;
}
.subscribe {
  height: 300px;
  background-color: #ea5e5d;
  border-radius: 10px;
}
.back-bold {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.image-hight {
  height: 200px;
  width: 180px;
  margin-left: 70px;
}
.box-hight {
  height: 400px;
}
